@font-face {
  font-family: "Segoe UI Variable Display";
  src: url(../fonts/Segoe-UI-Variable-Static-Display.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI Variable Display";
  src: url(../fonts/Segoe-UI-Variable-Static-Display-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: #f2f3f5;
}

body {
  overflow: hidden;
}

#hotspot-print-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding-top: 2px;
  margin: 0.2in;
}

.voucher {
  outline: #bfbfbf solid 1px;
  overflow: hidden;
  height: 96px;
  width: 154px;
  page-break-inside: avoid;
}

#hotspot-print-grid.disabled {
  display: none;
}

#extension-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2in;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 5rem;
  padding: 0 5%;
  filter: drop-shadow(0 0 0.0625rem rgb(0 0 0 / 5%)) drop-shadow(0 0.125rem 0.25rem rgb(0 0 0 / 9%));
}

.logo {
  height: 2rem;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header li a {
  color: #000000;
  font-size: 0.875rem;
  text-decoration: none;
}

.header li a:hover {
  text-decoration: underline;
}

.btn:active, .btn-accent:active, .header li a:active {
  opacity: 0.6;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
  border: #bfbfbf solid 1px;
  height: 2rem;
  min-width: 7.5rem;
  gap: 0.5rem;
  padding: 0 1.5rem;
}

.btn:hover {
  border: #a0a0a0 solid 1px;
}

.btn-accent {
  color: #ffffff;
  background-color: #005fb8;
  border: none !important;
}

.btn-accent:hover {
  background-color: #0067c7;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8.5in;
  max-width: 90%;
  padding: 2rem 0;
  margin: auto;
}

h1 {
  font-family: "Segoe UI Variable Display";
  font-size: 1.5rem;
}

.text {
  font-size: 0.75rem;
  opacity: 0.6;
}

.dropdown {
  justify-content: space-between;
  padding: 0 0.5rem 0 1rem;
}

@media print {
  @page {
    margin: 0;
  }

  @top-center {
    content: "";
  }

  @bottom-center {
    content: "";
  }

  body {
    -webkit-print-color-adjust: exact;
  }
}
